body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    z-index: 1; /*nimeongeza z index juu image ilikuwa juu ya navbar */
    border-bottom: 1px solid off;
    background-color: #8A9A5B;
}


nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F8380F;

}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;

}

.nav-link a:hover{
    color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
    font-weight: 600;      
}
section{
    
    height: 100vh;
    background-image: url('images/bckgrd.jpg');
    background-size: cover;
    background-position: center;
}
/* Container holding the image and the text */
.flex-container {
    position: center;
    text-align: center;
    color: rgb(210, 42, 24);
    padding: 250px;
    font-size: 20px;
    font-weight: bold;
    
  }

.grid-container{
    display: grid;
    min-height: 400px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    background-color: #E5E4E2;
    border-radius: 15px;
    grid-gap: 5px 15px;
    
}
.vehicles{
    height: 400px;
    width: 400px;
    object-fit: scale-down;
    
}
.parent{
    display: flex;
    width: 100;
    text-align: left;
    background-color: platinum #E5E4E2 ;
    padding: 15px 15px 15px 15px;
}  
.child{
    flex: 1;
    border: 1px black;
    padding: 5px;  
    
}
.child img{
    height: 80vh;
    width: 100%;
    border-radius: 5px;
    object-fit: contain;
    display: flex;

}
h1 h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 35vh;
}
.facebook-button {
    display: inline-flex;
    padding: 0px;
    border: transparent;
    border-radius: 1px;
    font-family: Arial, sans-serif;
    border-width: thin;
}
.facebook-icon {
    font-size: 10px;  
    
    cursor: pointer;
}
.twitter-button {
    display: inline-flex;
    padding: 0px;
    border: transparent;
    border-radius: 1px;
    font-family: Arial, sans-serif;
}
.facebook-icon {
    font-size: 10px;
    background: blue;  
    cursor: pointer;
}
.facebookbutton-btn{
    border-width: 0;
    background-color: taupe;
    color: blue;
    border-radius: 5px;
}
.twitterbutton-btn{
    border-width: 0;
    background-color: taupe;
    color: blue;
    border-radius: 5px;
    margin-right: 4px;
}
.contact-parent-container{
    display: flex;
    background-color: #8A9A5B;  
    background-size: cover;
    
}
.contact-child-container{
    flex: 1;
    border: 1px rgb(250, 12, 12);
    background-color: black;
    padding: 5px;
}
.contact-child-container1{
    flex: 1;
    border: 1px rgb(250, 12, 12);
    background-color: blue;
    padding: 5px;
}
.mini-landing{
    flex: 3;
    flex-direction: column;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    background-size: cover;
}
.contact-form{
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family:'Montserrat',sans-serif;border:2px solid 
  }
  label {
    display: flex;
    margin-bottom: 8px;
  }
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px black;
    border-radius: 3px;
  }
  .footer{
    display: flex;
  }
